

header {
    background-color: #ffffff;
    border: 3px double #000000; 
    padding: 15px 20px;
    margin: 10px;
    display: flex;
    justify-content: center; 
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; 
}

header ul li {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    transition: all 0.1s ease; 
    user-select: none;
}

header ul li:active {
    transform: translate(4px, 4px); 
    box-shadow: 0px 0px 0px #000000; 
}

.logo{
    display: block;
    margin: 20px auto;
}

.register {
    text-align: center;
    width: 300px;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
}

.register .campo-input {
    font-family: "Press Start 2P", system-ui;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}


.card-escolher {
    background-color: #ffffff;
    border: 3px double;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.cards-pomokais {
    border-radius: 0px;
    padding: 20px;
    max-height: 300px;
    width: 450px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

.cards-pomokais img {
    width: 100px;
    height: 100px;
}

.cards-pomokais:nth-of-type(1) {
    background-color: #4dd7f0;
    border-right: 5px solid #3b3d46;
    border-bottom: 5px solid #000000;
}


.cards-pomokais:nth-of-type(2) {
    background-color: #ff6333;
     border-right: 5px solid #463b3b;
    border-bottom: 5px solid #000000;
    margin-left: auto;
}


.cards-pomokais:nth-of-type(3) {
    background-color: #c4ff3b;
     border-right: 5px solid #3b463d;
    border-bottom: 5px solid #000000;
}

.the-choice {
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.container-tarefas {
    background-color: #ffffff;
    border-right: 3px double;
    padding: 20px;
    margin: 10px auto 20px 0px; 
    text-align: left;
    width: 400px;
    height: 700px;
}
